/* =====================================================
   BLOG DISNEY - STYLE.CSS
   Ordenado según el menú: Inicio, Películas, Música, Trivia, Login
   ===================================================== */

/* =========================
   1. ESTILOS GENERALES
   ========================= */

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    min-height: 100%;
}

body{		/* Propiedades del diseño general de la paginas  */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f7fb;
    color: #333;
}

.body-trivia{		/* Propiedades de la imagen de fondo de pantalla  */
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 80%;
    margin: 30px auto;
    flex: 1;
}

section,			/* Propiedades de la caja contenedora de informacion  */
article{
    background-color: white;
    padding: 25px;
    margin: 25px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

/* Estas son las propiedades de todos los titulos h2, h3, h4, h5  */
h2{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    color: #1f6cf5;
	line-height: 0.1;
    text-align: center;
}

h3{
    text-align: center;
	line-height: 0.1;
}

h4{
    font-size: 14px;
    color: #ac5484;
    text-align: center;
	line-height: 1;
}
h5{
    text-align: center;
	font-size: 16px;
}

/* Estas son las propiedades del parrafo principal de escritura en todas las paginas */
p{			
    font-size: 13px;
    line-height: 1.6;
    text-align: center;
}
/* Estas son las propiedades de la clase parrafo de pagina blog-inicio como subtituo  */
.p2{
    font-size: 16px;
    line-height: 0.6;
    text-align: center;
}

button{   /* Estas son las propiedades del boton de login, cuando no esta activo  */
    background-color: #1565c0;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{			/* Estas son las propiedades del boton de login, cuando si esta activo cambia */
    background-color: #0d47a1;
}

/* =====================================
   2. LINEA DE CABEZA Y MENÚ SUPERIOR
   ===================================== */

header{
    background: linear-gradient(to right, #12194A, #90caf9); /* En header nos permite darle propiedades a la barra degradada del top  */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
	position: sticky;   /* sirve para dejar la barra de menu simpre arriba y visible con top 0*/
	top: 0;
}

/* Estas son las propiedades de la posicion y tamaño de la imagen del castillo  */
.logo-titulo{
    display: flex;
    align-items: center;
}

.logo{
    width: 25px;
    margin-right: 5px;
}

.titulo-principal,
.logo-titulo h1{  /* Estas son las propiedades del titulo del top Blog Disney de todas las paginas  */
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: white;
    margin: 5px;
}

  /* La etiqueta nav permite darle diseño a las palabras del menu */
nav a{   /* cuando no estan activa es blanca */
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover{  /* cuando se pasa el mouse por arriba cambia de color */
    color: #141450;
    text-decoration: underline;
}

/* ===============================================
   3. PÁGINA INICIO - Archivo: Blog-inicio.html
   =============================================== */

.imagen-disney{  /* Estas son las propiedades del recuadro que tienen las imagenes al rededor con orillas redondeadas  */
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #007bff;
}

/* Estas son las propiedades de las cajas blancas con sombreado de todas las paginas  */
.caja-inicio{		/* Ajuste se segun pagina  */
    width: 90%;
    margin: 25px auto;
}

.inicios{			/* distibucion  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    margin-top: 20px;
}

.inicio{			/* posicion general  */
    text-align: center;
}

.inicio h3{			/* Color de tipografia  */
    color: #4c6c84;
}

.inicio img{		/* contorno de la imagen  */
    width: 100px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #007bff;
}


/* Formulario de contacto 
------------------------------------------- */
#contacto{   /* Marca la posicion del titulo del formulario  */
    width: 70%;
    margin: 25px auto;
}

#contacto h2{       /* Cambio del tamaño de la tipografia del titulo del formulario  */
    font-size: 25px;
}

form{   /* Posicion de la caja del formulario  */
    display: flex;
    flex-direction: column;
}

label{  /* Parte del diseño de los titulos del texto del formulario  */
    margin-top: 12px;
    font-weight: bold;
}

input,
textarea{		/* El diseño de la propiedades del texto del formulario  */
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

textarea{   /* Marca lo alto de la caja del formulario  */
    height: 100px;
}



/* ================================================
   4. PÁGINA PELÍCULAS - Archivo: peliculas.html
   ================================================ */

.destinos{		/* Diseño de la separacion de las imagenes de la pagina de peliculas  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    margin-top: 20px;
}

.destino{   /* Alineacion y tamaño de las imagenes  */
    text-align: center;
    width: 150px;
}

.destino h3{   /* Color del titulo de cada imagen  */
    color: #4c6c84;
}

.destino img{ 	/* El diseño del contorno de cada imagen  */
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #007bff;
}

/* Tabla, Diseño.
------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background-color: #1565c0;
    color: white;
}

th,
td {
    border: 1px solid #aaa;
    padding: 7px;
    text-align: center;
}

.table h2{
	font-size: 25px;
}

/* ============================================
   5. PÁGINA MÚSICA - Archivo: musica.html
   ============================================ */


.img-reproductores{		/* Diseño de la separacion de las imagenes de la pagina de musica  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-items: center;
    margin-top: 20px;
}

.img-reproductor{		/* Alineacion y tamaño de las imagenes  */
    text-align: center;
    width: 150px;
}

.img-reproductor h5{	/* Color del titulo de cada imagen  */
    color: #0056b3;
}

.img-reproductor img{		/* El diseño del contorno de cada imagen  */
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #007bff;
}

.audio-disney{		/* Ajustes para el reproductor de audio (Tamaño, escala segun la pagina y posicion  */
    width: 100px;
    transform: scale(0.6);
    transform-origin: left;
}



/* ==========================================
   6. PÁGINA TRIVIA - Archivo: trivia.html
   ========================================== */

.trivia{	/* Posicion de los elementos de la pagina de trivia  */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.trivia h2{		/* Posicion del titulo  */
    margin-bottom: 20px;
}

.trivia video{
    max-width: 100%;
}

.video-disney{		/* El diseño del contorno del video  */
    border: 2px solid #1f6cf5;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Propiedades del boton en pasivo y activo respectivamente  */
.boton-video{
    margin-top: 20px;
    background-color: #cb6173;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 12px;
}

.boton-video:hover{
    background-color: #4da7df;
}



/* ========================================
   7. PÁGINA LOGIN - Archivo: login.html
   ======================================== */

.login-body{		/* Propiedades del fondo de pantalla del login  */
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/fondo00.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.login-box{			/* El diseño de la caja contenedora del para loguiarse  */
    background-color: white;
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px #555;
}

.login-box h1{		/* El diseño de la tipografia de titulo  */
    font-family: "Original Surfer", cursive;
    color: #1e88e5;
}

.login-box input{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 8px;
}

/* Propiedades del boton para ingresar no activo y activo */
.login-box button{
    width: 95%;
    padding: 12px;
    background-color: #1e88e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover{
    background-color: #1565c0;
}

.pass{		/* Diseño del texto que indica el usuario y contraseña  */
    font-size: 10px;
    margin: 15px 0 25px 0;
}



/* =========================
   8. FOOTER
   ========================= */

footer{		/* El diseño de la barra de pie de pagina  */
    background-color: #142878;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}



/* ==========================================
   9. RESPONSIVE - Para pantallas pequeñas
   ========================================== */


/* Comportamiento de la pagina cuando sea abierta en un dispositivo diferente a una PC o Laptop, para que se ajuste  */
@media (max-width: 768px){
    header{
        flex-direction: column;
        gap: 10px;
    }

    nav a{
        display: inline-block;
        margin: 5px 10px;
    }

    main{
        width: 95%;
    }

    .imagen-disney,
    .caja-inicio,
    #contacto{
        width: 90%;
    }

    .inicios,
    .destinos,
    .img-reproductores{
        grid-template-columns: 1fr;
    }
}
